<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>
  <include file="$(find micvision_sim)/move_base_config/move_base_turtlebot2.xml">
  </include>
  <include file="$(find micvision)/launch/exploration.launch" />
  <include file="$(find micvision_gazebo)/launch/turtlebot_world.launch">
      <arg name="world_file" value="$(find micvision_gazebo)/worlds/maze.world" />
  </include>
  <!--
  <include file="$(find micvision_sim)/move_base_config/slam_gmapping.xml"/>  
  -->
  <!--
  <include file="$(find micvision_sim)/launch/icpslam/nav2d_icp.launch" />
  -->
  <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="
    -configuration_directory $(find cartographer_ros)/configuration_files
    -configuration_basename sim_2d.lua" output="screen"></node>

  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find micvision_sim)/rviz/navigation.rviz"></node>
  <!--
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find micvision_sim)/rviz/navigation.rviz" />
  -->
</launch>
