<launch>
  <arg name="map_filename" default="$(find micvision_sim)/stage_config/maps/maze.yaml"/>
  <include file="$(find micvision_navigation)/launch/turtlebot2/hardware_turtlebot2.launch" />
  <include file="$(find micvision_navigation)/launch/turtlebot2/move_base_amcl_turtlebot2.launch" >
    <arg name="map_filename" value="$(arg map_filename)" />
  </include>
</launch>
