<?xml version="1.0"?>

<launch>
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_base_link" args="0 0 0 0 0 0 base_footprint base_link 100"/>

  <node pkg="tf" type="static_transform_publisher" name="base_link_laser" args="0 0 0.1 0 0 0 base_link laser 100"/>

  <node pkg="tf" type="static_transform_publisher" name="base_link_laser_link" args="0 0 0.1 0 0 0 base_link laser_link 100"/>

  <node pkg="tf" type="static_transform_publisher" name="base_link_gyro_link" args="0 0 0.1 0 0 0 base_link gryo_link 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_laser_frame" args="0 0 0.1 0 0 0 base_link laser_frame 100" />
</launch>
